/* #main-logo{
    height: 47px;
    margin-top: 28px;
    margin-left: 137px;
}
.nav-item{
    margin-top: 49px;
    margin-left: 30px;
}
.navigation-item{
    margin-right: 60px;
}
.login-btn{
    padding: 10px 40px;
} */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
.logo {
    width: 60px;
}

.nav li {
    margin: 0 0.5rem;
    padding: 0 0.4rem;
}

.nav li a {
    font-size: 1rem;
    color: rgb(144, 235, 25);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

.nav li:last-child {
    background-color: rgb(23, 80, 235);
    color: white !important;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

.login {
    color: #000 !important;
}